<div class="modale" *ngIf="mostraModale">
    <div class="modal-box">
        <button class="close-modal" (click)="CloseModal()">Close Modal</button>
        <input placeholder="Inserisci il nome della nota" type="text">
        <textarea placeholder="Inserisci una nota" name="" id="" cols="30" rows="25"></textarea>
        <div class="apply-box">
            <button class="apply-button" id="create-note">Crea Nota</button>
            <button class="apply-button" id="clear-all">Cancella tutto</button>
        </div>
    </div>
</div>
